*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background: #000; */
}
#main{padding: 10px;
display: flex;
gap: 20px;}
.card  {
    position: relative;
    height: 400px;
    width: 300px;
    background: #fff;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.5s;
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.card:hover .bottom{
    bottom: 0;
}
.bottom{
    position: absolute;
    bottom: -40%;
    height: 150px;
    width: 100%;
    background:linear-gradient(transparent,rgba(0,0,0,0.7));
    border-radius: 20px 20px 0 0;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all ease 2s;
}
.bottom i{
    color:#fff;
    font-size: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.bottom i:hover{
    transform: scale(1.2);
    color: red;
}
.bottom h2{
    color: white;
    font-size: 40px;
}